body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 30px;
}
p {
    color: dimgray;
}
.name-highlights {
    color: mediumseagreen;
}
.half-width {
    width: 40%;
    float: left;;
    margin-left: 5%;
    padding-left: 2%;
    text-align: justify;
}
.half-width img {
    width: 80%;
    margin-left: 14%;
}
.top-section {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section {
    height: 500px;
    padding-bottom: 50px;
}
.link-button {
    background-color: rgba(255, 99, 71, 0.671);
    text-decoration: none;
    background-image: linear-gradient(45deg,salmon , tomato);
    width: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffff;
    font-weight: 700;

}
h2,h4 {
    color: mediumseagreen;
}
.seceond-section {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.box-shadow-1 {
    box-shadow: 10px 10px 40px grey;
    height: 300px;
    border-radius: 8px;
}
.box-shadow-2 {
    box-shadow: 10px 10px 40px grey;
    height: 300px;
    border-radius: 8px;
}
.box-shadow-1,box-shadow-2, p {
    margin-right: 20px;
}
footer {
    text-align: center;
}
